# -*- coding: utf-8 -*-
"""
Created on Thu Oct 22 23:17:26 2020

@author: lenovo
"""

<?xml version="1.0" encoding="utf-8">
<info>
<platforms>
<platform>Windows</platform>
<platform>Linux</platform>
<platform>macOS</platform>
</platforms>

<browsers>
<browser>Firfox</browser>
<browser>Chrome</browser>
<browser>Edge</browser>
</browsers>

<url>http:www.xxxx.com</url>
<login username="admin" password="123456"/>
<login username="quest" password="654321"/>

